<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1029811994247-adbqs149polluoa78jr4an2nmj93q9f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029811994247-adbqs149polluoa78jr4an2nmj93q9f2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029811994247-bqlvn74fdnt1tf28tr0hjl7mvtq5qb6h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEM0kEMHZobGg2QM-XF-BjeptHexUQaPg</string>
	<key>GCM_SENDER_ID</key>
	<string>1029811994247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jagochile.cinehorarios</string>
	<key>PROJECT_ID</key>
	<string>cinehorarios-153505</string>
	<key>STORAGE_BUCKET</key>
	<string>cinehorarios-153505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029811994247:ios:d81d3216b4a83120</string>
	<key>DATABASE_URL</key>
	<string>https://cinehorarios-153505.firebaseio.com</string>
</dict>
</plist>